{% extends 'Port/base.html' %}
{% block body_block %}
<div class="jumbotron"><h2>Have discussions anonymously, and whenever you think your thought is important and there has to be more discussion about it, just chain it! Never lose any thoughts.</h2></br>
<h4>Just specify your handle(/your_name) with every thought and you are good to go!</h4>
</div>
<div align="center" class="form-group">
<form role="form" method="post" action="/port/">
{% csrf_token %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field }}
            {% endfor %}
</div>
<div align="center" style="padding-bottom:20px">
<button type="submit" class="btn btn-warning btn-lg">Add Thought</button>
</div>
</form>
<h3>Recent Thoughts:</h3>
{% for thought in thought_list %}
{% if thought.parent == null %}
<h3><a href='/port/{{thought.id}}/'><ul>{{thought.thought}}</ul></a></h3>
{% endif %}
{% endfor %}
{% endblock %}
